h2{color: blueviolet;
font-size: 50px;
text-decoration: underline;
text-transform: capitalize;}
body{
font-size: 1.5em;    
background-image: url(bg.jpg);
font-family: fantasy;
font-style: inherit;
font-weight: lighter;
text-align: justify;
line-height: 30px;
color: crimson;}

div{width: 300px;
padding: 10px;
background-color: yellow;
flex-wrap: wrap;
display: flex;}
button

a:visited{color:burlywood;}
a:active{color: green;
}
input:focus{
    background-color: cadetblue;
}
p:first-child{color: cornflowerblue;}